<body class="third_anniv" id="third_anniv" data-direction="1">

    <a href="/" target="_blank" rel="noopener noreferrer" class="go-to-top-btn">
        <img src="/assets/chs/images/pc/3rd_anniv/btn_top.png">
    </a>

    <div class="main_wrapper">

        <header class="_stopper main_header jsMainHeader jsContent">
            <div class="kv jsKv jsSpAdjustHeight">
                <ul class="kv_logo">
                    <li>
                        <img src="/assets/chs/images/pc/3rd_anniv/kv/05_dragalia_lost.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/06_3rd_anniversary.png">
                    </li>
                </ul>
                <ul class="kv_fx">
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/04_fx01.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/04_fx02.png">
                    </li>
                </ul>
                <ul class="kv_chara">
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/03_chara.png">
                    </li>
                </ul>
                <ul class="kv_bg_chara">
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_01.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_02.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_03.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_04.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_05.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_06.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_07.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_08.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_10.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_09.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_11.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_12.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_13.png">
                    </li>
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/01_bg_chara_14.png">
                    </li>
                </ul>
                <ul class="kv_bg_particle">
                    <li>
                        <img src="/assets/common/images/pc/3rd_anniv/kv/02_bg_particle.png">
                    </li>
                </ul>
                <ul class="kv_catch_text">
                    <li>
                        <img src="/assets/chs/images/pc/3rd_anniv/kv/catch_text.png">
                    </li>
                </ul>
            </div>
        </header>

        <div class="main_contents jsMainContents">

            <nav class="menu jsNavMenu">
                <div class="menu__mask jsMaskMenu"></div>
                <div class="menu__list" style="--font-size:1em">
                    <a href="#gachacp" class="_nav menu__list__gachacp jsNavText"
                    data-state="init"
                    data-nav-id="gachacp">
                        <span class="_nav__text">
                            免费召唤活动 </span>
                    </a>
                    <a href="#fes" class="_nav menu__list__fes jsNavText"
                    data-state=""
                    data-nav-id="fes">
                        <span class="_nav__text">
                            Dragalia Fes </span>
                    </a>
                    <a href="#raid" class="_nav menu__list__raid jsNavText"
                    data-state=""
                    data-nav-id="raid">
                        <span class="_nav__text">
                            3周年纪念团队活动 </span>
                    </a>
                    <a href="#gamecp" class="_nav menu__list__gamecp jsNavText"
                    data-state=""
                    data-nav-id="gamecp">
                        <span class="_nav__text">
                            其它游戏内相关活动 </span>
                    </a>
                    <a href="#snscp" class="_nav menu__list__snscp jsNavText"
                    data-state=""
                    data-nav-id="snscp">
                        <span class="_nav__text">
                            SNS相关活动 </span>
                    </a>
                    <a href="#mainstory" class="_nav menu__list__mainstory jsNavText"
                    data-state=""
                    data-nav-id="mainstory">
                        <span class="_nav__text">
                            主线剧情第22章～第24章 </span>
                    </a>
                    <a href="#update" class="_nav menu__list__update jsNavText"
                    data-state=""
                    data-nav-id="update">
                        <span class="_nav__text">
                            今后的版本更新 </span>
                    </a>
                    <a href="#newcnt" class="_nav menu__list__newcnt jsNavText"
                    data-state=""
                    data-nav-id="newcnt">
                        <span class="_nav__text">
                            华丽迷宫 </span>
                    </a>
                    <a href="#narm" class="_nav menu__list__narm jsNavText"
                    data-state=""
                    data-nav-id="narm">
                        <span class="_nav__text">
                            纳姆Channel </span>
                    </a>
                </div>
            </nav>

            <div class="bgs jsContentsBgs">
                <div class="bgs__wave">
                    <img src="/assets/common/images/pc/3rd_anniv/contents_bg_dot.png">
                </div>
                <div class="bgs__anniv"></div>
                <div class="bgs__3rd_drag"></div>
            </div>

            <section
                    class="_stopper _content content__gachacp jsContent jsSpAdjustHeight"
                    data-name="gachacp"
                    data-state="init"
                    data-move-to="">
                <div
                    class="_grad grad__gachacp"
                    data-state=""
                    data-move-to="">
                </div>
                <div class="_content__wrapper">
                    <h2 class="_content__title _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/title_gachacp.png">
                    </h2>
                    <div class="_content__img _trans">
                        <img src="/assets/common/images/pc/3rd_anniv/contents/image_gachacp.png">
                    </div>
                    <div class="_content__text _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/text_gachacp.png">
                    </div>
                </div>
            </section>
            <section
                    class="_stopper _content content__fes jsContent jsSpAdjustHeight"
                    data-name="fes"
                    data-state=""
                    data-move-to="">
                <div
                    class="_grad grad__fes"
                    data-state=""
                    data-move-to="">
                </div>
                <div class="_content__wrapper">
                    <h2 class="_content__title _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/title_fes.png">
                    </h2>
                    <div class="_modal _action js-modal" data-modal-target="fes">
                    </div>
                    <div class="_content__img _trans">
                        <img src="/assets/common/images/pc/3rd_anniv/contents/image_fes.png">
                    </div>
                    <div class="_content__text _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/text_fes.png">
                    </div>
                </div>
            </section>
            <section
                    class="_stopper _content content__raid jsContent jsSpAdjustHeight"
                    data-name="raid"
                    data-state=""
                    data-move-to="">
                <div
                    class="_grad grad__raid"
                    data-state=""
                    data-move-to="">
                </div>
                <div class="_content__wrapper">
                    <h2 class="_content__title _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/title_raid.png">
                    </h2>
                    <div class="_modal _action js-modal" data-modal-target="raid">
                    </div>
                    <div class="_content__img _trans">
                        <img src="/assets/common/images/pc/3rd_anniv/contents/image_raid.png">
                    </div>
                    <div class="_content__text _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/text_raid.png">
                    </div>
                </div>
            </section>
            <section
                    class="_stopper _content content__gamecp jsContent jsSpAdjustHeight"
                    data-name="gamecp"
                    data-state=""
                    data-move-to="">
                <div
                    class="_grad grad__gamecp"
                    data-state=""
                    data-move-to="">
                </div>
                <div class="_content__wrapper">
                    <h2 class="_content__title _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/title_gamecp.png">
                    </h2>
                    <div class="_modal _action js-modal" data-modal-target="gamecp">
                    </div>
                    <div class="_content__img _trans">
                        <img src="/assets/common/images/pc/3rd_anniv/contents/image_gamecp.png">
                    </div>
                    <div class="_content__text _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/text_gamecp.png">
                    </div>
                </div>
            </section>
            <section
                    class="_stopper _content content__snscp jsContent jsSpAdjustHeight"
                    data-name="snscp"
                    data-state=""
                    data-move-to="">
                <div
                    class="_grad grad__snscp"
                    data-state=""
                    data-move-to="">
                </div>
                <div class="_content__wrapper">
                    <h2 class="_content__title _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/title_snscp.png">
                    </h2>
                    <a href="/chs/news/detail/2486" target="_blank" rel="nofollwer noopener" class="_action">
                    </a>
                    <div class="_content__img _trans">
                        <img src="/assets/common/images/pc/3rd_anniv/contents/image_snscp.png">
                    </div>
                    <div class="_content__text _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/text_snscp.png">
                    </div>
                </div>
            </section>
            <section
                    class="_stopper _content content__mainstory jsContent jsSpAdjustHeight"
                    data-name="mainstory"
                    data-state=""
                    data-move-to="">
                <div
                    class="_grad grad__mainstory"
                    data-state=""
                    data-move-to="">
                </div>
                <div class="_content__wrapper">
                    <h2 class="_content__title _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/title_mainstory.png">
                    </h2>
                    <div class="_modal _action js-modal" data-modal-target="mainstory">
                    </div>
                    <div class="_content__img _trans">
                        <img src="/assets/common/images/pc/3rd_anniv/contents/image_mainstory.png">
                    </div>
                    <div class="_content__text _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/text_mainstory.png">
                    </div>
                </div>
            </section>
            <section
                    class="_stopper _content content__update jsContent jsSpAdjustHeight"
                    data-name="update"
                    data-state=""
                    data-move-to="">
                <div
                    class="_grad grad__update"
                    data-state=""
                    data-move-to="">
                </div>
                <div class="_content__wrapper">
                    <h2 class="_content__title _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/title_update.png">
                    </h2>
                    <div class="_modal _action js-modal" data-modal-target="update">
                    </div>
                    <div class="_content__img _trans">
                        <img src="/assets/common/images/pc/3rd_anniv/contents/image_update.png">
                    </div>
                    <div class="_content__text _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/text_update.png">
                    </div>
                </div>
            </section>
            <section
                    class="_stopper _content content__newcnt jsContent jsSpAdjustHeight"
                    data-name="newcnt"
                    data-state=""
                    data-move-to="">
                <div
                    class="_grad grad__newcnt"
                    data-state=""
                    data-move-to="">
                </div>
                <div class="_content__wrapper">
                    <h2 class="_content__title _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/title_newcnt.png">
                    </h2>
                    <div class="_content__img _trans">
                        <img src="/assets/common/images/pc/3rd_anniv/contents/image_newcnt.png">
                    </div>
                    <div class="_content__text _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/text_newcnt.png">
                    </div>
                </div>
            </section>
            <section
                    class="_stopper _content content__narm jsContent jsSpAdjustHeight"
                    data-name="narm"
                    data-state=""
                    data-move-to="">
                <div
                    class="_grad grad__narm"
                    data-state=""
                    data-move-to="">
                </div>
                <div class="_content__wrapper">
                    <div class="_modal _action js-modal" data-modal-target="narm">
                    </div>
                    <div class="_content__img _trans">
                        <img src="/assets/chs/images/pc/3rd_anniv/contents/image_narm.png">
                    </div>
                </div>
            </section>

        </div>

        <div class="scroll_sign">
            <div class="do-scroll"></div>
        </div>
    </div>