<!DOCTYPE html>
    <html lang="zh-Hans">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=375, user-scalable=0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta name="description" content="《Drgalia Lost ～失落的龙约～》3周年相关活动介绍页面！">
            <meta name="keywords" content="Dragalia Lost,失落的龙约,官方网站,Nintendo,手机游戏">
            <meta property="og:type" content="website">
            <meta property="og:url" content="/chs/3rd_anniv/">
            <meta property="og:site_name" content="Dragalia Lost">
            <meta property="og:title" content="3周年 特设页面 | Dragalia Lost【～失落的龙约～ | 龙约】官方网站 | Nintendo">
            <meta property="og:description" content="《Drgalia Lost ～失落的龙约～》3周年相关活动介绍页面！">
            <meta property="og:image" content="/assets/chs/images/common/3rd_anniv/og_image.png">
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:image" content="/assets/chs/images/common/3rd_anniv/og_image.png">
            <meta property="twitter:title" content="3周年 特设页面 | Dragalia Lost【～失落的龙约～ | 龙约】官方网站 | Nintendo">
            <meta property="twitter:description" content="《Drgalia Lost ～失落的龙约～》3周年相关活动介绍页面！">

            <link rel="icon" type="image/png" href="/assets/common/favicon.png" sizes="32x32">

            <!-- <title>3周年 特设页面 | Dragalia Lost【～失落的龙约～ | 龙约】官方网站 | Nintendo</title> -->
            <title>3周年 特设页面 | Dragalia Lost【～失落的龙约～】镜像站 | Nintendo</title>