<!-- <body id={$body_id}> -->
	<div id="app-header">
		<div class="app-header-inner">
			<h1>
				<a href="/chs/">
					<img src="/assets/common/images/pc/logo_app.png" alt="Dragalia Lost">
				</a>
			</h1>
			<nav id="global-nav">
				<ul>
					<li class="top">
						<a href="/chs/" class="">
							<img src="/assets/chs/images/pc/common/btn_nav_top_off.png" alt="TOP">
						</a>
					</li>
					<li class="news">
						<a href="/chs/news/" class="">
							<img src="/assets/chs/images/pc/common/btn_nav_news_off.png" alt="NEWS">
						</a>
					</li>
					<li class="world">
						<a href="/chs/world/story/" class="">
							<img src="/assets/chs/images/pc/common/btn_nav_world_off.png" alt="WORLD">
						</a>
					</li>
					<li class="character">
						<a href="/chs/character/" class="">
							<img src="/assets/chs/images/pc/common/btn_nav_character_off.png" alt="CHARACTER">
						</a>
					</li>
					<li class="dragon">
						<a href="/chs/dragon/midgardsormr/" class="">
							<img src="/assets/chs/images/pc/common/btn_nav_dragon_off.png" alt="DRAGON">
						</a>
					</li>
					<li class="gamesystem">
						<a href="/chs/gamesystem/" class="">
							<img src="/assets/chs/images/pc/common/btn_nav_gamesystem_off.png" alt="GAMESYSTEM">
						</a>
					</li>
					<li class="special">
						<div class="">
							<img src="/assets/chs/images/pc/common/btn_nav_special_off.png" alt="SPECIAL">
							<div class="menu-special">
								<ul>
									<li>
										<a style="width: 146px;" href="/chs/special/movie/">视频</a>
									</li>
									<li>
										<a href="http://home.dlmirror.ren/adventurersguide/chs/" target="_blank" rel="noopener noreferrer">失落的龙约上手方法</a>
									</li>
									<li>
										<a href="http://home.dlmirror.ren/dragalialife/chs/" target="_blank" rel="noopener noreferrer">轻松龙约</a>
									</li>
									<li>
										<a href="http://home.dlmirror.ren/plotsynopsis/chs/" target="_blank" rel="noopener noreferrer">纳姆的波澜冒险记</a>
									</li>
									<li>
										<a  rel="noopener noreferrer">2周年特设页面</a>
									</li>
									<li>
										<a href="/chs/3rd_anniv" target="_blank" rel="noopener noreferrer">3周年特设页面</a>
									</li>
									<li>
										<a href="/chs/special/wallpaper/">特制壁纸</a>
									</li>
									<li>
										<a href="/chs/special/profilecard/">个人档案卡片</a>
									</li>
									<li>
										<a href="/chs/special/timeattack/">竞速赛排行榜</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</div>