<!-- <body id={$body_id}> -->
    <header>
		<div id="nintendo-header">
			<div id="nintendo-logo">
				<a href="http://www.nintendo.com.hk/" target="_blank" rel="noopener noreferrer">
					<img src="/assets/chs/images/pc/header/logo_n.png" alt="nintendo">
				</a>
			</div>
			<div id="etc">
				<dl id="language">
					<dt>Language</dt>
					<dd>
						<ul>
							<li id="lang-jpn">
								<a href="/jp/" data-lang="jp">日本語</a>
							</li>
							<li id="lang-cht">
								<a href="/cht/" data-lang="cht">繁體中文</a>
							</li>
							<li id="lang-chs">
								<a href="/chs/" data-lang="chs">简体中文</a>
							</li>
							<li id="lang-en">
								<a href="/en/" data-lang="en">English(US)</a>
							</li>
							<li id="lang-en-gb">
								<a href="/en-gb/" data-lang="en-gb">English(Europe/Australia)</a>
							</li>
							<li id="lang-fr">
								<a href="/fr-ca/" data-lang="fr-ca">Français</a>
							</li>
						</ul>
					</dd>
				</dl>
			</div>
		</div>