<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=375, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="王道动作RPG手游　 Dragalia Lost ～失落的龙约～ 已于iOS、Googleplay正式上线！">
	<meta name="keywords" content="Dragalia Lost,失落的龙约,官方网站,Nintendo,手机游戏">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://home.dlmirror.ren/chs/">
	<meta property="og:site_name" content="Dragalia Lost">
	<meta property="og:title" content="Dragalia Lost ～失落的龙约～ 官方网站 | Nintendo">
	<meta property="og:description" content="王道动作RPG手游　 Dragalia Lost ～失落的龙约～ 已于iOS、Googleplay正式上线！">
	<meta property="og:image" content="http://home.dlmirror.ren/assets/chs/images/og_image_dl.png">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:image" content="http://home.dlmirror.ren/assets/chs/images/og_image_dl.png">
	<meta property="twitter:title" content="Dragalia Lost ～失落的龙约～ 官方网站 | Nintendo">
	<meta property="twitter:description" content="王道动作RPG手游　 Dragalia Lost ～失落的龙约～ 已于iOS、Googleplay正式上线！">

	<link rel="icon" type="image/png" href="/assets/common/favicon.png" sizes="32x32">
	
	
	<!-- <title>Dragalia Lost ～失落的龙约～ 官方网站 | Nintendo</title> -->
	<title>Dragalia Lost ～失落的龙约～ 镜像站</title>