<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=375, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="王道动作RPG手游　 Dragalia Lost ～失落的龙约～ 已于iOS、Googleplay正式上线！">
	<meta name="keywords" content="Dragalia Lost,失落的龙约,官方网站,Nintendo,手机游戏">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://home.dlmirror.ren/chs/">
	<meta property="og:site_name" content="Dragalia Lost">
	<meta property="og:title" content="Dragalia Lost ～失落的龙约～ 官方网站 | Nintendo">
	<meta property="og:description" content="王道动作RPG手游　 Dragalia Lost ～失落的龙约～ 已于iOS、Googleplay正式上线！">
	<meta property="og:image" content="http://home.dlmirror.ren/assets/chs/images/og_image_dl.png">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:image" content="http://home.dlmirror.ren/assets/chs/images/og_image_dl.png">
	<meta property="twitter:title" content="Dragalia Lost ～失落的龙约～ 官方网站 | Nintendo">
	<meta property="twitter:description" content="王道动作RPG手游　 Dragalia Lost ～失落的龙约～ 已于iOS、Googleplay正式上线！">

	<link rel="icon" type="image/png" href="/assets/common/favicon.png" sizes="32x32">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/chs/css/pc/common.css">
	<link rel="stylesheet" href="/assets/chs/css/pc/top.css">

	<link rel="stylesheet" href="/assets/chs/css/pc/up_common.css">
	<script type="text/javascript" src="/jquery.min.js"></script>
	<script type="text/javascript" src="/jquery.inview.min.js"></script>
	<script type="text/javascript" src="/slick.min.js"></script>
	<script type="text/javascript" src="/moment.min.js"></script>
	<script type="text/javascript" src="/boombox.min.js"></script>
	<script type="text/javascript" src="/assets/common/js/pc/main.bundle.js"></script>
	<script type="text/javascript" src="/assets/common/js/pc/jquery.mb.YTPlayer.min.js"></script>
	<script type="text/javascript" src="/assets/common/js/pc/function.js"></script>
	<!-- <title>Dragalia Lost ～失落的龙约～ 官方网站 | Nintendo</title> -->
	<title>Dragalia Lost ～失落的龙约～ 镜像站</title>

	<!-- Google Tag Manager -->
	<script>
		if (!window.ga) {
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NKGWRS5');
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-T87ZSNJ');
      window.dataLayer = dataLayer || [];
      window.dataLayer.push({
        'trackPageview': window.location.pathname,
        'title'        : window.document.title,
        'event'        : 'loadready'
      });
    }
    </script>
	<!-- End Google Tag Manager -->
</head>