
    <script type="text/javascript" src="/jquery.min.js"></script>
	<script type="text/javascript" src="/jquery.inview.min.js"></script>
	<script type="text/javascript" src="/slick.min.js"></script>
	<script type="text/javascript" src="/moment.min.js"></script>
	<script type="text/javascript" src="/boombox.min.js"></script>
	<script type="text/javascript" src="/assets/common/js/pc/main.bundle.js"></script>
	<script type="text/javascript" src="/assets/common/js/pc/jquery.mb.YTPlayer.min.js"></script>
	<script type="text/javascript" src="/assets/common/js/pc/function.js"></script>
