<section id="news-area">
    <h2><img src="/assets/chs/images/pc/news/ttl_news.png" alt="新闻"></h2>
    <nav id="category-nav">
        <ul>
            <li><a href="/chs/news/" class="icon-category0 current" data-category="0">全部</a></li>
            <li><a href="/chs/news/information/" class="icon-category1" data-category="1">公告</a></li>
            <li><a href="/chs/news/update/" class="icon-category2" data-category="2">更新</a></li>
            <li><a href="/chs/news/maintenance/" class="icon-category3" data-category="3">维护</a></li>
            <li><a href="/chs/news/event/" class="icon-category4" data-category="4">活动</a></li>
            <li><a href="/chs/news/important/" class="icon-category5" data-category="5">重要事项</a></li>
        </ul>
    </nav>
    <div class="inner">
        <ul id="news-list"></ul>
    </div>
</section>