body#chart {
  background-image: url("../../images/pc/world/chart/bg.jpg");
  overflow-x: visible;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100%;
  min-width: 1200px }
  body#chart #wrapper {
    box-sizing: border-box;
    padding-bottom: 50px; }
    body#chart #wrapper #main{
      background-image: url("../../images/pc/world/chart/text_bg.png");
      background-position: 0px 315px;
      background-repeat: no-repeat;
      position: relative;
      height: 2086px;
    }
      body#chart #wrapper #main .main-visual{
        position: relative;
        width: 1200px;
        margin: 0 auto;
      }
        body#chart #wrapper #main .main-visual .category{
          position: absolute;
          top: 140px;
          left: 65px;
        }
        body#chart #wrapper #main .main-visual #chart-01{
          display: none;
          padding-top: 350px;
          margin-bottom: 100px;
        }
          body#chart #wrapper #main .main-visual #chart-01 .text{
            padding-left: 100px;
            margin-bottom: 34px;
          }
          body#chart #wrapper #main .main-visual #chart-01 .chart{
            padding-left: 100px;
          }
        body#chart #wrapper #main .main-visual #chart-02{
          display: none;
          padding-top: 350px;
          margin-bottom: 100px;
        }
          body#chart #wrapper #main .main-visual #chart-02 .text{
            padding-left: 100px;
            margin-bottom: 34px;
          }
          body#chart #wrapper #main .main-visual #chart-02 .chart{
            padding-left: 100px;
          }
        body#chart #wrapper #main .main-visual .active{
          display: block !important;
        }

        body#chart #wrapper #main .main-visual .arrow .next{
          position: absolute;
          top: 670px;
          right: 26px;
        }
        body#chart #wrapper #main .main-visual .arrow .prev{
          position: absolute;
          top: 670px;
          left: 26px;
        }

        body#chart #wrapper #main .main-visual .chart-tab {
          float: right;
          margin: -80px 100px 40px 0;
        }
          body#chart #wrapper #main .main-visual .chart-tab li{
            display: none;
          }
          body#chart #wrapper #main .main-visual .chart-tab .active{
            display: block !important;
          }

        body#chart #wrapper #main .main-visual .world-tab {
          width: 1000px;
          margin: 0 auto;
        }
          body#chart #wrapper #main .main-visual .world-tab li{
            display: inline-block;
            margin-left: 5px;
          }
          body#chart #wrapper #main .main-visual .world-tab li:first-child{
            margin-left: 0px;
          }
  body#chart footer {
    z-index: 12;
  }
