body#character-detail {
  min-width: 1200px;
  background-size: cover;
  overflow-x: visible;
  height: 100%; }
  body#character-detail #wrapper {
    box-sizing: border-box;
    padding-bottom: 0px; }
    body#character-detail #wrapper #main{
      position: relative;
      margin: 0 auto;
      padding-top: 140px;
      height: 1230px;
      top: 110px;
    }
      body#character-detail #wrapper #main .main-visual{
        position: relative;
        width: 1200px;
        margin: 0 auto;
      }
        body#character-detail #wrapper #main .main-visual .category{
          position: absolute;
          top: -110px;
          left: 65px;
        }
        body#character-detail #wrapper #main .main-visual .arrow .next{
          position: absolute;
          top: 440px;
          left: 1070px;
          z-index: 13;
        }
        body#character-detail #wrapper #main .main-visual .arrow .prev{
          position: absolute;
          top: 440px;
          left: 100px;
          z-index: 13;
        }
    body#character-detail #wrapper #inner-wrap{
      background-position-y: 90px;
      background-size: 100%;
      position: relative;
      z-index: 11;
      margin: 0 auto -150px;
      top: -370px;
      height: 310px;
    }
     body#character-detail #wrapper #inner-wrap .inner{
      position: relative;
      z-index: 11;
      width: 1200px;
      top: -40px;
    }

        body#character-detail #wrapper #inner-wrap .inner .text-wrap{
          background-size: 642px 290px;
          background-position: 66px 11px;
          height: 290px;
          width: 725px;
          margin-bottom: 84px;
        }
          body#character-detail #wrapper #inner-wrap .inner .text-wrap .text{
            font-size: 16px;
            padding-top: 105px;
            padding-left: 130px;
            line-height: 28px;
            width: 520px;
          }
        body#character-detail #wrapper #inner-wrap .inner .btn .character-list{
          text-align: center;
          width: 1000px;
          margin: 0 auto;
        }
          body#character-detail #wrapper #inner-wrap .inner .btn .character-list li{
            display: inline-block;
            margin-left: 198px;
          }
          body#character-detail #wrapper #inner-wrap .inner .btn .character-list li:first-child{
            margin-left: 0px;
          }
  body#character-detail footer {
    z-index: 12;
  }

/*ranzarveページ*/

body.ranzarve {
  background: url("../../images/pc/character/common/bg.jpg") no-repeat center top;
}
body.ranzarve #wrapper #main{
  background-image: url("../../images/pc/character/ranzarve/bg_band.png"),url("../../images/pc/character/ranzarve/main_char.png");
  background-repeat: no-repeat;
  background-position: center bottom,center 80px;
  background-size: 100%,1920px 1097px;
}

body.ranzarve #wrapper #inner-wrap{
}
body.ranzarve #wrapper #inner-wrap .inner .text-wrap{
  background: url("../../images/pc/character/ranzarve/text_bg.png") no-repeat left top;
}
    body.ranzarve #wrapper #main .main-visual .subtitle{
      position: absolute;
      top: 100px;
      left: 605px;
    }
    body.ranzarve #wrapper #main .main-visual .name{
      position: absolute;
      top: 136px;
      left: 621px;
    }
    body.ranzarve #wrapper #main .main-visual .cv{
      position: absolute;
      top: 235px;
      left: 620px;
    }
    body.ranzarve #wrapper #main .main-visual .voice{
      position: absolute;
      top: 227px;
      left: 895px;
    }
    body.ranzarve #wrapper #main .main-visual .text{
      position: absolute;
      top: 330px;
      left: 618px;
    }
    body.ranzarve #wrapper #inner-wrap .inner .char-3d{
    position: absolute;
    z-index: 12;
    top: -112px;
    left: 675px;
  }
