/* 
 * 导航栏样式表
*/
div#navi {
    width: 100%;
    min-width: 1200px;
    height: 181px;
    /* background-image: linear-gradient(to bottom,rgb(255, 255, 255),rgba(224, 224, 224, 0.973)); */
    z-index: 99999;
    font-size: 14px;
}
div#navi_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block,list-item;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1240px;
    min-width: 900px;
    height: 181px;
    margin:0 auto;
    padding:0 20px;
    box-sizing: border-box;
    line-height: 1;
}
#home{
    list-style:none;
    display:list-item;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    /* transform: translate(40%,40%); */
    width:64px;
}
#navi_list>#home {
    height: 181px;
    width: 181px;
}
#housepic:hover {
    background: (url("./download_blob.png")) no-repeat left top;
}