/* 
 * 导航栏样式表
*/
#navi {
    width: 100%;
    min-width: 1000px;
    height: 181px;
    /* background-image: linear-gradient(to bottom,rgb(255, 255, 255),rgba(224, 224, 224, 0.973)); */
    z-index: 99999;
}
#navi_inner {
    overflow:visible;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#menu{
    display:inline;
    margin:0 auto;
}
#home,#history {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}